:root {
    --primary-color: #465dfd;
    --secondary-color: #3ad5cf;

    --text-color: #fff;
    --sidebar-btn-hover-gradient: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0.25) 35%,
        rgba(255, 255, 255, 0.15) 100%
    );
    --sidebar-btn-active-gradient: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.075) 0%,
        rgba(255, 255, 255, 0.125) 35%,
        rgba(255, 255, 255, 0.075) 100%
    );

    --shadow-color: rgba(34, 60, 80, 0.2);

    --transition-duration: 0.25s;
}
