.readerItem {
    min-height: 20px;
    max-height: 80px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.fullName {
    font-weight: 600;
}

.books {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.bookItem {
    display: flex;
    gap: 0 3px;

    &__name {
        font-weight: bold;
    }

    &__author {
        font-style: italic;
    }
}

.modify {
    display: flex;
    gap: 0 5px;
    &__icon {
        position: relative;
        min-width: 20px;
        width: 20px;
        height: 20px;

        cursor: pointer;

        border-radius: 5px;

        transition: background-color var(--transition-duration);

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        &:hover {
            background-color: rgba(171, 171, 171, 0.3);
        }
    }
}
